/*============================================================
                          COLORS
============================================================*/
$primary-color: #D81B60;
$primary-color-2: #AD1457;

$primary-text-color: #fff;
$secondary-text-color: #757575;